:root {

  --background-color: #F7EDEA;
  --container-color: #F5F2F1;
  --text-color: #4A6670;
  --button-color: #CC5803;

  background-color: var(--background-color);
  font-family: sans-serif;
  box-sizing: border-box;
}